html, body {
  overflow: hidden;
  margin: 0;
  background-color: black;
}	

.myCanvas {
  width: 0%;
  height: 100vh;
  display: block;
}

button {
    display: block;
}

#gui
{
    position: absolute;

    left: 0%;
    top: 0%;

    width: 400px;
    height: 400px;
}